.errors {
	color: red;
}

.sidebar {
  background-color: #F5F5F5;
}

.pad-left {
	margin-left: 50px;
}

.dash-menu {
	padding: 20px 0 110px 0;
	background: #ededed;
}

.left {
	text-align: left;
}


.disqus {
	/*
	font-color: #888;
	background: white;
	padding: 20px 20px 0 20px;
	*/
	
	
}


.text-button {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	padding: 0 50px 0 25px;
	height: 50px;
	width: 500px;
	color: #999;
	/*float: left;*/
	outline: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	margin-bottom: 1em;
}

.text-button-small {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	padding: 0 50px 0 25px;
	/*
	height: 50px;
	width: 500px;
	*/
	color: #999;
	/*float: left;*/
	outline: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	margin-bottom: 1em;
}

.text-button-small-dashboard {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	padding: 0 10px 0 15px;
	/*
	height: 50px;
	width: 500px;
	*/
	color: #999;
	/*float: left;*/
	outline: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	margin-bottom: 1em;
}
.textarea-button {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	padding: 15px 50px 0 25px;
	height: 120px;
	width: 500px;
	color: #999;
	/*float: left;*/
	outline: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	margin-bottom: 1em;
}


.textarea-button-small {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	padding: 1px 1px 1px 1pxpx;
	width: 100%;
	/*
	height: 120px;
	width: 500px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
	*/
	color: #999;
	/*float: left;*/
	outline: none;
	
	
	margin-bottom: 1em;
}

.select-button {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	text-indent: 10px;
	padding: 15px 30px;
	vertical-align: middle;
	line-height: 50px;
	height: 50px;
	width: 150px;
	margin: 0 0 0 50px;
	color: #999;
	/*float: left;*/
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 1em;
	margin-left: 0px;
	width: 575px;
}

.select-button-small {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	border: none;
	font-size: 13px;
	text-indent: 10px;
	padding: 15px 30px;
	vertical-align: middle;
	line-height: 50px;
	
	margin: 0 0 0 50px;
	color: #999;
	/*
	height: 50px;
	width: 150px;
	float: left;
	width: 500px;
	*/
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 1em;
	margin-left: 0px;
	
}

.force-left p {
text-align: left;
}
.force-left ul {
	text-align: left;
	list-style: inherit;
	padding: 15px;
}

