{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Surprisr</title>
	
	<meta property="og:image" content="http://www.surprisr.co/static/surprisr_screenshot.png" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="514">
    <meta property="og:image:height" content="327">
    <meta property="og:url" content="http://www.surprisr.co/" />
    <meta property="og:title" content="Surprisr" />
    <meta property="og:description" content="We find gifts for your girl, making you look good." />

	<link rel="shortcut icon" href={% static "surprisr_favicon.ico" %} type="image/x-icon">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
	<link href={% static "conversion/templates/css/style.css" %} rel="stylesheet"/>  
	<link href={% static "conversion/templates/css/colors/style-color-06.css" %} rel="stylesheet"/>    
	<link rel="stylesheet" href={% static "conversion/templates/css/simple-line-icons.css" %}>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
	{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
	  {% include "ga.html" %}
	  {% include "kiss.html" %}
	{% endif %}
	{% block head %}
	{% endblock %}
	
	<script src="//load.sumome.com/" data-sumo-site-id="12ce00cf5d63ccf3dcc1c01f462ab05379776e6b1aa7dd5a8c25a833647329c8" async></script>

</head> 
<body>

<div id="wrapper" class="wrapper-page wrapper-flexi">
	<!-- Start Header -->
	<div id="header">
	
		<div class="container">
			<div class="row">
				<div class="span12">
				
					<h1>
						<a href="{% url 'splash' %}">
						Surprisr
						{% comment %}
							<img src={% static "conversion/templates/images/logo.png" %} alt="Convert" />
						{% endcomment %}
						</a>
					</h1>
					
					
					<h2 class="menulink"><a href="#">Menu</a></h2>
					{% comment %}
					<!-- Start Menu -->
					<div id="menu">
						<ul>  
							
							<li><a href="{% url 'gifts' %}">Our Gifts</a></li> 							
							<li class="current"><a href="page.html">Login</a></li> 
							
						</ul> 
					</div> 
					<!-- End Menu -->
					{% endcomment %}
				</div>
				<div class="clearfix"></div>
			</div>
			
		</div>
	
	</div>
	<!-- End Header -->	
</div>

{% block body %}
{% endblock %}
</div>


<div class="clearfix"></div> 

<div id="footer">

	<p> 
		{% comment %}
			<a href="#"><span class="glyph-item mega icon-social-youtube" aria-hidden="true" ></span></a>
			<a href="#"><span class="glyph-item mega icon-social-tumblr" aria-hidden="true" ></span></a>
			<a href="#"><span class="glyph-item mega icon-social-dropbox" aria-hidden="true" ></span></a>
			<a href="#"><span class="glyph-item mega icon-social-dribbble" aria-hidden="true" ></span></a>		
		{% endcomment %}
		<a href="https://www.facebook.com/pages/Surprisrco/879845972043137"><span class="glyph-item mega icon-social-facebook" aria-hidden="true" ></span></a>
		<a href="https://twitter.com/SurprisrCo"><span class="glyph-item mega icon-social-twitter" aria-hidden="true" ></span></a>
		
	</p>
   	
	Copyright &copy; 2014 | <a href="{% url 'privacy' %}">Privacy</a> | <a href="{% url 'tos' %}">TOS</a>
	
	<div class="clearfix"></div>

</div>

<!--[if lte IE 7]><script src={% static "conversion/templates/js/icons-lte-ie7.js" %}></script><![endif]-->
<script src={% static "conversion/templates/js/jquery.min.js" %}></script>
<script src={% static "conversion/templates/js/respond.min.js" %}></script>
<script src={% static "conversion/templates/js/scripts.js" %}></script>
<script>
	$('#scroll1').click(function () {	
		$('html, body').animate({ scrollTop: $("#steps").offset().top}, 1000);
	});
</script>	 	        		
{% include "uv.html" %}
</body>
</html>
