{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block head %}
	
	{{ form.media }}
	{% include "wysiwyg-init.html" %}
	
	{% include "disqus_head.html" %}
{% endblock %}

{% block body %}

{% comment %}
<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Join the team</h1>

	</div>
</div>
{% endcomment %}
<div class="clear"></div>

<div class="content">
	
	<div class="wrap">

		<div class="heading"><span>{{ comp.company }}</span></div>
			
			<div class="content portfolio_two">
				<div class="wrap">

					<div class="one_half">		
						<p><strong>email:</strong></p>
						<p>{{ email }}</p>
						{% for key,value in comp.items %}
							<p><strong>{{ key }}:</strong></p>
							<p>{{ value }}</p>
						{% endfor %}
					</div>
					<div class="one_half last">
						<form method="post" action=""> 
							{% csrf_token %}
							<p>File Storage URL:</p>
							{% for error in form.storage.errors %}
			                	<p class="errors">{{ error }}</p>
			                {% endfor %}
							{{ form.storage|add_class:"text-button-small" }}

							<p>Goal:</p>
							{% for error in form.goal.errors %}
			                	<p class="errors">{{ error }}</p>
			                {% endfor %}
							{{ form.goal|add_class:"text-button-small" }}

							<p>Strategy:</p>
							{% for error in form.strategy.errors %}
			                	<p class="errors">{{ error }}</p>
			                {% endfor %}
			                {{ form.strategy }}
			            	</br></br>
							<a href="#" class="button small" onclick="$(this).closest('form').submit()">Update</a>
							</form>
					</div>
				</div>
			</div>

			<div class="clear"></div>
			<div class="space"></div>

			<p><strong>Internal discussion:</strong></p>
			{% include "disqus.html" %}

		<div class="clear"></div>

	</div>
</div>

{% endblock %}
