{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}
	
<div class="strip" id="content">

	<div class="container">
			 
        <div class="row">
	    	
	    	<div class="span8">
	    	
	        	<div class="inner">
	        	
	        	<h2>We're looking for top talent.</h2> 

              	<h3>Want to join our team of strategists, social media, and marketing experts?</h3> 

              	<h3>Please send us your name, email address, phone number (optional), and links to your social media profiles that you'd like us to see and we'll get in touch with more information.</h3> 

              	<h3>Contact us throguh the question mark widget in the bottom right of the this page.</h3> 

              	<h3>Thanks!</h3> 


				</br>

				
				


               



	   
		    </div>
	    	
	    	</div>  
	    
	    	<div class="clearfix"></div>
	    	        	
	    </div>

	</div>

</div> 

{% endblock %}
