{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}

{% comment %}
<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Join the team</h1>

	</div>
</div>
{% endcomment %}
<div class="clear"></div>

<div class="content">
	<div class="wrap">

		<div class="heading"><span>Join the team</span></div>

			<p>We're looking for top talent.</p>
			
			<p>Are you a social media engagement specialist with a few years of experience, looking for more?</p>

          	<p>We may have a role for you.</p> 

          	<p>Please send us your name, email address, phone number (optional), and links to your social media profiles that you'd like us to see and we'll get in touch with more information.</p> 

          	<p>Contact us throguh the question mark widget in the bottom right corner of this page.</p> 

          	<p>Thanks!</p> 


		<div class="clear"></div>

	</div>
</div>

{% endblock %}
