{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}

{% comment %}
<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Login</h1>

	</div>
</div>
<div class="clear"></div>
{% endcomment %}


<div class="content">
	<div class="wrap">


		<div class="heading"><span>Login</span></div>


		{% for error in form.non_field_errors %}
		    <h3 style="color: red;">{{error}}</h3>
			</br>
		{% endfor %}

			<form method="post" action=""> 
			{% csrf_token %}
			
			
		
			{% for error in form.email.errors %}
            	<p class="errors">{{ error }}</p>
            {% endfor %}
			{{ form.email|add_class:"text-button"}}
		
			
			
			{% for error in form.password.errors %}
            	<p class="errors">{{ error }}</p>
            {% endfor %}
			{{ form.password|add_class:"text-button"}}
			
			<div class="row">

				<a href="{% url 'reset-password' %}">Forgot password?</a>
				 | 
				{% if request.GET.ref %}
					<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">Signup</a>
				{% else %}
					<a href="{% url 'signup' %}">Signup</a>  
				{% endif %}

			</div>
			
			<div class="row">

				</br>
				<a href="#" class="button small" onclick="$(this).closest('form').submit()">Continue</a>		

			</div>
				
		</form>

		<div class="clear"></div>

	</div>
</div>


{% endblock %}
