{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}
	
<div class="strip" id="content">

	<div class="container">
		

        <div class="row">

	    	<div class="span6">
	    	
	        	<div class="inner">

	        	<h2>Sign up today and you may win your first two weeks FREE</h2>	 
	      
              	{% for error in form.non_field_errors %}
                    <h3 style="color: red;">{{error}}</h3>
                	</br>
                {% endfor %}

              	<form method="post" action=""> 
					{% csrf_token %}
					
					<h3>Login</h3>
					<div class="form-row">	
						{% if form.email.errors %}
		                    <p style="color: red;">{{ form.email.errors }}</p>
		                {% endif %}		
						{{ form.email|add_class:"text login_input"}}
						<div class="clearfix"></div>
					</div>
					<div class="form-row">	
						{% if form.password.errors %}
		                    <p style="color: red;">{{ form.password.errors }}</p>
		                {% endif %}				
						{{ form.password|add_class:"text login_input"}}
						<div class="clearfix"></div>
					</div>
					
					 <div class="form-row">
      					<input type="submit" name="register" value="Continue" class="btn" style="background-color: #0fba52;" data-loading-text="Loading..." />
						<div class="clearfix"></div>
                    </div>
					
				</form>
	   
		    </div>
	    	
	    	</div>  
	    
	    	<div class="clearfix"></div>
	    	        	
	    </div>

	</div>

</div> 

{% endblock %}
