<!-- Facebook open graph -->
<meta property="og:image" content="http://www.boostblocks.com/static/bb_ad_image.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="535" />
<meta property="og:image:height" content="335" />
<meta property="og:url" content="http://www.boostblocks.com" />
<meta property="og:title" content="BoostBlocks" />
<meta property="og:description" content="We grow your brand while you run your business." />
<meta property="og:type" content="website" />

<!-- Twitter card -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="BoostBlocks"/>
<meta name="twitter:description" content="We grow your brand while you run your business."/>
<meta name="twitter:url" content="http://www.boostblocks.com"/>
<meta name="twitter:image" content="http://www.boostblocks.com/static/bb_ad_image.png"/>
