{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}
	
<div class="strip" id="content">

	<div class="container">
			 
        <div class="row">
	    	
	    	<div class="span8">
	    	
	        	<div class="inner">
	        	


              	<h2>Simplicity for the customer.</h2> 

				<h3>This is the philosophy that drives everythign we do here at BoostBlocks.</h3> 

				<h3>We know you’re busy building your product and running operations. Maybe you don’t have a dedicated marketing outreach staff. That’s ok, it’s what we’re here for. When you sign up as a customer we only ask you the absolutely minimum number of questions neccessary to let us do the stellar job that we love doing. You get us started and we talk the reigns from there, letting you focus on running your business.</h3>

				<h3>Our goal is for acustomer to fill out their profile today and see real human-powered social media enagement the next. We want to drive results quickly. In order to do this most effectively we’ve made the strategic decision to do away with long, cumbersome back and forth meetings that are commonplace today when getting social media engagement plans or ad campaigns up and running. We’ve put together a team of experienced and brilliant minds so that we can create effective market outreach for our customers without hasseling them and taking their time.</h3>

				<h3>In order to pull this off , however, there is a lot that goes on behind the simple interface we show you.</h3>

				<h3>Our team collaborates on the strategies that we craft uniquely for each customer. The implementation of these strategies requires careful attention and thoughtful action. This is reflected in our social media practices that always places the human element first. You aren’t just paying for robots, afterall!</h3> 

				<h3>We don’t reinvent the wheel either. We use the industry’s top tools and platforms to make the most of our time and to help us make the right decisions, maximizing value to you.</h3> 

				<h3>Finally, we are data-driven. We rely on the reporting and metrics that we send you each week to help us do our job too. This means we are constantly testing and questioning our strategies, iterating and adjusting when need be to get the most out of our time spent.</h3>

				<h3>Our appraoch to marketing is unorthdox but we’re ok with that because it works!</h3>

				<h3>We look forward to hearing from you soon.</h3>

				<h3>- The BoostBlocks Team</h3>



				</br>

				
				{% if request.GET.ref %}
		    		<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">
			        	<div class="form-row">
			        		<input type="submit" class="btn" value="Get Started for Free" style="background-color: #0fba52;"/>
			     		</div>
			      </a>
		    	{% else %}
		    		<a href="{% url 'signup' %}">
			        	<div class="form-row">
			        		<input type="submit" class="btn" value="Get Started for Free" style="background-color: #0fba52;"/>
			     		</div>
			      </a>
		    	{% endif %}
  	


               



	   
		    </div>
	    	
	    	</div>  
	    
	    	<div class="clearfix"></div>
	    	        	
	    </div>

	</div>

</div> 

{% endblock %}
