{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}

<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>My Dashboard</h1>

	</div>
</div>


<div class="clear"></div>




<div class="content">
	<div class="wrap" style="width: 85%;">

		<div class="sidebar-right">
			<div class="heading"><span>Current Campaign</span></div>
			<p>Facebook x 2</p>
			<p>Twitter x 2</p>
			<p>Mothly: $800</p>
			</br>

			<div class="heading"><span>Primary Goal</span></div>
			<p>Engagement</p>
			</br>
			
			<div class="clear"></div>
				
			<div class="heading"><span>Strategy</span></div>
			<p>Polaroid wayfarers enim, before they sold out mlkshk locavore mixtape sustainable. Flexitarian kitsch voluptate cred. Culpa dolore ethical, nesciunt deep v narwhal veniam Pitchfork. Proident before they sold out raw denim consectetur. Ut et small batch Banksy, distillery gentrify cray hashtag. Quis voluptate nisi, nostrud readymade Banksy fashion axe authentic bitters. Culpa High Life flannel post-ironic slow-carb officia, typewriter ugh tote bag semiotics fanny pack dolore qui ullamco.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim sodales nisl sed facilisis. Suspendisse tempor, nisl eu sollicitudin feugiat, eros sem porta magna, quis vestibulum lorem urna eu orci. In hac habitasse platea dictumst. In vel diam vitae orci suscipit suscipit eu id neque.</p>

		</div>

		<div class="content-left" style="width: auto;">
			<div id="slider_wrapper dash-menu">
				<div class="wrap">

					<div class="tabs">

					    <div class="tab-content">
					        <div id="tab1" class="tab">
				        		</br>
				        		
				        		{% if not user.chargify_active and not user.staff %}
					            	<h1>Activate your billing account</h1>
					            	<p>Before we can begin, we need you need to enter your billing information.</p>
					            	<p>The link below will direct you to our Chargify account. Nothing will be charged to your card upon setup and we will never store any of your credit card information</p>
					            	</br>
					            	<div>
										<a href="https://boost-blocks-test.chargify.com/h/3562785/subscriptions/new?reference={{ request.session.ref }}" class="button">Setup</a>		
									</div>

					            {% else %}
					            	<h1>Your account is actiavted</h1>
					            	
					            	
					            	<p>Should you need to cancel your account at any time just let a BoostBlocks member know and we will take care of that for you. Keep in mind that you don't need to cancel your account in order to prevent additional charges. Simply unselect all currently selected Boost Blocks.</p>
					            	

					            	

					            {% endif %}
					        </div>
					 
					        <div id="tab2" class="tab">
				        		</br>
				        		{% if not user.chargify_active and not user.staff %}
					            	<h1>Activate your billing account</h1>
					            	<p>Before we can begin, we need you need to enter your billing information.</p>
					            	<p>The link below will direct you to our Chargify account. Nothing will be charged to your card upon setup and we will never store any of your credit card information</p>
					            	</br>
					            	<div>
										<a href="https://boost-blocks-test.chargify.com/h/3562785/subscriptions/new?reference={{ request.session.ref }}" class="button">Setup</a>		
									</div>

					            {% else %}
					            	<p>Update your billing account information.</p>

					            {% endif %}
					        </div>
					 
					        <div id="tab3" class="tab active">
				        		</br>
				        		{% if not user.chargify_active and not user.staff %}
					            	<h1>Activate your billing account</h1>
					            	<p>Before we can begin, we need you need to enter your billing information.</p>
					            	<p>The link below will direct you to our Chargify account. Nothing will be charged to your card upon setup and we will never store any of your credit card information</p>
					            	</br>
					            	<div>
										<a href="https://boost-blocks-test.chargify.com/h/3562785/subscriptions/new?reference={{ request.session.ref }}" class="button">Setup</a>		
									</div>

					            {% else %}
					            	<p>Update your billing account information.</p>

					            {% endif %}
					        </div>

					        <div id="tab4" class="tab">
				        		<span class="tab-price">
				        			<i class="icon-comment-alt"></i>
				        			<span>only<em>$199.95</em>per month</span>
				        		</span>

					            <h1>Dedicated Servers</h1>
					            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim sodales nisl sed facilisis. Suspendisse tempor, nisl eu sollicitudin feugiat, eros sem porta magna, quis vestibulum lorem urna eu orci. In hac habitasse platea dictumst. In vel diam vitae orci suscipit suscipit eu id neque.</p>
					            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim sodales nisl sed facilisis. Suspendisse tempor, nisl eu sollicitudin feugiat, eros sem porta magna, quis vestibulum lorem urna eu orci. In hac habitasse platea dictumst. In vel diam vitae orci suscipit suscipit eu id neque.</p>
					        	<a href="#" class="tab-button">Order Now</a>
					        </div>
					    </div>

					    <ul class="tab-links">
					        <li><a href="#tab1"><span style="margin-left: 0px;">Account Billing</span></a></li>
					        <li><a href="#tab2"></i><span style="margin-left: 0px;">Profile Builder Blocks</span></a></li>
					        <li class="active"><a href="#tab3"></i><span style="margin-left: 0px;">Engagement Blocks</span></a></li>
					        <li><a href="#tab4"></i><span style="margin-left: 0px;">Company Profile</span></a></li>
					    </ul>

					</div>

				</div>
			</div>
			
			<div class="clear"></div>
			<div class="space"></div>
			
			<div class="disqus">
	    		{% include "disqus.html" %}
	    	</div>  

		</div>

		<div class="clear"></div>
		<div class="space"></div>


	</div>
	{% comment %}
	<div class="wrap" style="width: 85%;">
		<div class="sidebar-right">
		</div>
		<div class="content-left" style="width: auto;">
			<div class="wrap">
			
		    	<div class="disqus">
		    		{% include "disqus.html" %}
		    	</div>    	
		    	
		    	<div class="clear"></div>	
		    </div>
		</div>

	</div>
	{% endcomment %}		

</div>

{% endblock %}
