{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}


<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Admin view</h1>

	</div>
</div>

<div class="clear"></div>

<div class="content portfolio_four">
	<div class="wrap">

		{% for i in accts %}
			
			<form method="post" action=""> 
			{% csrf_token %}
			
		
			<h2><a href="{% url 'dashboard' i.user.ref %}"  target="_blank">{{ i.company_profile.company }}</a></h2>
			
			<div class="one_fifth">
				<p>SM Presence:</p>
				{% if i.company_profile.website|slice:":4" != 'http' %}
					<p><a href="http://{{ i.company_profile.website }}" target="_blank">{{ i.company_profile.website|truncatechars:25 }}</a></p>
				{% else %}
					<p><a href="{{ i.company_profile.website }}" target="_blank">{{ i.company_profile.website|truncatechars:25 }}</a></p>
				{% endif %}

				{% if i.company_profile.soc_one|slice:":4" != 'http' %}
					<p><a href="http://{{ i.company_profile.soc_one }}" target="_blank">{{ i.company_profile.soc_one|truncatechars:25 }}</a></p>
				{% else %}
					<p><a href="{{ i.company_profile.soc_one }}" target="_blank">{{ i.company_profile.soc_one|truncatechars:25 }}</a></p>
				{% endif %}

				{% if i.company_profile.soc_two|slice:":4" != 'http' %}
					<p><a href="http://{{ i.company_profile.soc_two }}" target="_blank">{{ i.company_profile.soc_two|truncatechars:25 }}</a></p>
				{% else %}
					<p><a href="{{ i.company_profile.soc_two }}" target="_blank">{{ i.company_profile.soc_two|truncatechars:25 }}</a></p>
				{% endif %}

				{% if i.company_profile.soc_three|slice:":4" != 'http' %}
					<p><a href="http://{{ i.company_profile.soc_three }}" target="_blank">{{ i.company_profile.soc_three|truncatechars:25 }}</a></p>
				{% else %}
					<p><a href="{{ i.company_profile.soc_three }}" target="_blank">{{ i.company_profile.soc_three|truncatechars:25 }}</a></p>
				{% endif %}

			</div>

			<div class="one_fifth">
				<p>FB page: 
				{% if i.account_detail.facebook_url %}
					{% if i.account_detail.facebook_url|slice:":5" != 'https' %}
						<a href="https://{{ i.account_detail.facebook_url }}" target="_blank">here</a>
					{% else %}
						<p><a href="{{ i.account_detail.facebook_url }}" target="_blank">here</a>
					{% endif %}
				{% endif %}
				</p>
				<p>Twit handle: {{ i.account_detail.twitter_handle }}</p>
				<p>Twit pswd: {{ i.account_detail.twitter_password }}</p>
				<p>IG un: {{ i.account_detail.instagram_username }}</p>
				<p>IG pswd: {{ i.account_detail.instagram_password }}</p>
				
				

			</div>

			<div class="one_fifth">
				
				{% comment %}
					<p>Goal:</p>
					{% for error in form.goal.errors %}
	                	<p class="errors">{{ error }}</p>
	                {% endfor %}
					<input type="text" class="text-button-small" id="id_goal" name="goal" value="{{ i.account_detail.goal }}" />

					<p>Strategy:</p>
					{% for error in form.strategy.errors %}
	                	<p class="errors">{{ error }}</p>
                {% endfor %}
                
        		<TEXTAREA class="textarea-button-small" id="id_strategy" NAME="strategy" ROWS=10>{{ i.account_detail.strategy }}</TEXTAREA>
                {% endcomment %}
               
                <p><a href="{% url 'company_description' i.user.ref %}" target="_blank"> Company Profile</a></p>
                <p>
                {% if i.account_detail.storage %}        	
                	{% if i.account_detail.storage|slice:":5" != 'https' %}
						<a href="https://{{ i.account_detail.storage }}" target="_blank">File Storage</a>
					{% else %}
						<a href="{{ i.account_detail.storage }}" target="_blank">File Storage</a>
					{% endif %}  	
                {% else %}
                	File Storage: Not set
                {% endif %}
                </p>
                <p>Goal set: 
                {% if i.account_detail.goal %}
                	True
                {% else %}
                	False
                {% endif %}
                </p>
                <p>Strategy set: 
                {% if i.account_detail.strategy %}
                	True
                {% else %}
                	False
                {% endif %}
                </p>
                
				
			</div>

			<div class="one_fifth">	
				
				<p>Current Boost Blocks</p>

				
				{% if i.blocks %}
					<p>Period End: {{ i.blocks.per_end|date:"M d" }}</p>
					<p>Facebook: {{ i.blocks.current.facebook_scale }}</p>
					<p>Twitter: {{ i.blocks.current.twitter_scale }}</p>
					<p>Instagram: {{ i.blocks.current.instagram_scale }}</p>
				{% endif %}
			</div>


			<div class="one_fifth last">	
				
				<p>Payments Setup: {{ i.account_detail.chargify_active }}</p>

				{% for error in form.active.errors %}
                	<p class="errors">{{ error }}</p>
                {% endfor %}		
				
				{% if i.account_detail.active %}
					<p>Dashboard Active: <input checked="checked" class="" id="id_active" name="active" type="checkbox"/></p>
				{% else %}
					<p>Dashboard Active: <input class="" id="id_active" name="active" type="checkbox"/></p>
				{% endif %}

				{% for error in form.blocks_enabled.errors %}
                	<p class="errors">{{ error }}</p>
                {% endfor %}		
				
				{% if i.account_detail.blocks_enabled %}
					<p>Blocks enabled: <input checked="checked" class="" id="id_blocks_enabled" name="blocks_enabled" type="checkbox"/></p>
				{% else %}
					<p>Blocks enabled: <input class="" id="id_blocks_enabled" name="blocks_enabled" type="checkbox"/></p>
				{% endif %}
				  
				<input type="hidden" id="id_ref" name="ref" value="{{ i.user.ref }}">
				<div>
					</br>
					<a href="#" class="button small" onclick="$(this).closest('form').submit()">Update</a>
				</div>
			</div>

			</form>

				<div class="clear"></div>
				<div class="divider"></div>
			

		{% endfor %}
		
		{% comment %}
		<ul id="pagination">
			<li><a class="pagination-current" href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
		</ul>
		<div class="clear"></div>
		{% endcomment %}

	</div>
</div>




{% endblock %}
