{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}

{% comment %}
<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Reset Password</h1>

	</div>
</div>
<div class="clear"></div>
{% endcomment %}


<div class="content">
	<div class="wrap">


		<div class="heading"><span>Reset Password</span></div>

		{% for error in form.non_field_errors %}
            <h3 style="color: red;">{{error}}</h3>
        	</br>
        {% endfor %}

      	<form method="post" action=""> 
			{% csrf_token %}
			
			{% if form.email.errors %}
                <p style="color: red;">{{ form.email.errors }}</p>
            {% endif %}		
			{{ form.email|add_class:"text-button"}}

			<div class="row">
				</br>
				<a href="#" class="button small" onclick="$(this).closest('form').submit()">Continue</a>		
			</div>
	
		</form>

		<div class="clear"></div>

	</div>
</div>


{% endblock %}
