{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}

{% comment %}
<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Our Service</h1>

	</div>
</div>
{% endcomment %}

<div class="clear"></div>


<div class="content">
	<div class="wrap">

			<div class="clear"></div>

			<div class="heading"><span>The Boost Blocks</span></div>
			<p>Choose your blocks and let BoostBlocks streamline the essentials of inbound marketing for your business.</p>
			</br>
			<p>Every week you can set the number of blocks you want applied to each social network:</p>
			<ul>
				<li><i class="icon-chevron-right"></i> Each block is $50 per week</li>
				<li><i class="icon-chevron-right"></i> Every week we share statistics showing how your blocks are reaching your goals</li>
				<li><i class="icon-chevron-right"></i> Once a month we send you a summarizing report with recommendations for each social network</li> 
				<li><i class="icon-chevron-right"></i> All communication done through dashboard so we never have to interupt your schedule</li>
			</ul>
			</br>
			<p>Here's what you get every week for each BoostBlock.</p> 
			</br>

			<div class="pricing_wrapper">
				<div class="one_third">
					<div class="pricing">
						<div class="pricing_top" style="padding: 10px 0 0 0;">
							<p><i class="icon-facebook-sign" style="color: white; font-size: 72px;"></i></p>							
						</div>
						<ul>
							<li>Facebook</li>
							<li>Light engagment</li>
							<li>Content curation around your brand</li>
							<li>Scheduling of your marketing collateral</li>
							<li>Ad placements</li>
						</ul>
					</div>
				</div>
				<div class="one_third">
					<div class="pricing">
						<div class="pricing_top" style="padding: 10px 0 0 0;">
							<p><i class="icon-twitter-sign" style="color: white; font-size: 72px;"></i></p>							
						</div>
						<ul>
							<li>Twitter</li>
							<li>Light engagment</li>
							<li>Content curation around your brand</li>
							<li>Scheduling of your marketing collateral</li>
							<li>Ad placements</li>
						</ul>
					</div>
				</div>
				<div class="one_third last">
					<div class="pricing">
						<div class="pricing_top" style="padding: 10px 0 0 0;">
							<p><i class="icon-instagram" style="color: white; font-size: 72px;"></i></p>							
						</div>
						<ul>
							<li>Instagram</li>
							<li>Post and follow-up engagement of client-provided content</li>
							<li>Curated content posts and follow-up engagement</li>
						</ul>
					</div>
				</div>
				{% comment %}
				<div class="one_fourth last">
					<div class="pricing">
						<div class="pricing_top" style="padding: 10px 0 0 0;">
							<p><i class="icon-linkedin-sign" style="color: white; font-size: 72px;"></i></p>							
						</div>
						<ul>
							<li>LinkedIn</li>
							<li>Light engagment (30min) x 4</li>
							<li>Weekly scheduling of your marketing collateral (30 min) x 4</li>
							<li>Weekly content curation around your brand (30min) x 4</li>
						</ul>
					</div>
				</div>
				{% endcomment %}
			</div>

			<div class="clear"></div>
			

			<div class="row">
				</br>
				<p>Our team may occasionally allocate more or less time to certain activities within each block to optimize impact of our efforts.</p>
				<ul>
					<li><i class="icon-chevron-right"></i> The more visual and written content you provide us, the more time we can spend interacting directly with your target audience</li>
					<li><i class="icon-chevron-right"></i> If you provide us very little or no content to work with, more time will be allocated towards content curation and finding material (blogs, articles, videos, etc.) to engage your target audience with</li>
					<li><i class="icon-chevron-right"></i> If you want to be part of the content curation selection, we gladly offer the option to share a Pearltree curation space with you. Don’t know what this is? Ask us.</li>
					<li><i class="icon-chevron-right"></i> We consider your current social media presence when determining how much of your budget to allocate towards advertisements vs. engagement. We'll adjust this allocation as your needs evolve.</li>
				</ul>
			</div>

			{% if request.GET.ref %}
			<a class="tab-button" style="margin-left: 0px;" href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
	    	{% else %}
	    		<a class="tab-button" style="margin-left: 0px;" href="{% url 'signup' %}">Get Started</a>
	    	{% endif %}

			<div class="clear"></div>
		
		</div>

</div>
	

{% endblock %}
