{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block body %}

{% comment %}
<div id="slider_wrapper2">
	<div class="wrap">
			
		<h1>Get Started</h1>

	</div>
</div>
<div class="clear"></div>
{% endcomment %}


<div class="content">
	<div class="wrap">

		{% if not form.is_valid and request.POST %}
			<h1 style="color: red;">Please correct the errors below.</h1>
			</br>
		{% endif %}		

		<div class="heading"><span>Just a few questions</span></div>

		<p>After filling out your brand profile we'll begin a full social media audit of your business.</p>
		
		<p>The more care you put into this form, the better we can grow your brand.</p>
		{% comment %}
		<p>You have no obligation to use our service after receiving our free audit.</p>	 
	    {% endcomment %}
              	{% for error in form.non_field_errors %}
                    <h3 style="color: red;">{{error}}</h3>
                	</br>
                {% endfor %}

              	<form method="post" action=""> 
					{% csrf_token %}
					<h3>Nice to meet you</h3>
					
					{% for error in form.company.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.company|add_class:"text-button"}}
					
					{% for error in form.website.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.website|add_class:"text-button"}}
					
					{% comment %}
						{% for error in form.soc_one.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{{ form.soc_one|add_class:"text-button"}}

						{% for error in form.soc_two.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{{ form.soc_two|add_class:"text-button"}}

						{% for error in form.soc_three.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{{ form.soc_three|add_class:"text-button"}}

						{% for error in form.soc_four.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{{ form.soc_four|add_class:"text-button"}}
					{% endcomment %}

					{% for error in form.social_media_presence.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.social_media_presence|add_class:"textarea-button"}}
					
					</br></br>
					<h3>Let's get to know your business</h3>
					{% for error in form.dev_stage.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					Stage of development:	
					<div>
						{{ form.dev_stage|add_class:"select-button"}}
					</div>

					{% for error in form.sales.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					
					{% comment %}
						Expected sales this year:	
						<div>
							{{ form.sales|add_class:"select-button"}}
						</div>
					{% endcomment %}

					{% for error in form.pitch.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.pitch|add_class:"textarea-button"}}

					{% for error in form.brand_description.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.brand_description|add_class:"textarea-button"}}

					{% for error in form.industry.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.industry|add_class:"textarea-button"}}

					{% for error in form.influencers.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.influencers|add_class:"text-button"}}

					{% for error in form.target_description.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.target_description|add_class:"textarea-button"}}

					{% for error in form.clients.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}			
					{{ form.clients|add_class:"textarea-button"}}
					
					{% for error in form.competition.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.competition|add_class:"textarea-button"}}

					{% for error in form.other.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.other|add_class:"textarea-button"}}


					</br></br>
					<h3>Marketing</h3>
					{% for error in form.goals.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
						What is your primary goal:	
					<div>
						{{ form.goals|add_class:"select-button"}}
					</div>

					{% comment %}
						{% for error in form.budget.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}				
						{{ form.budget|add_class:"text-button"}}
					{% endcomment %}

					{% for error in form.marketing_team.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.marketing_team|add_class:"textarea-button"}}

					{% for error in form.creatives.errors %}
                    	<p class="errors">{{ error }}</p>
                    {% endfor %}
					{{ form.creatives|add_class:"textarea-button"}}

					
	
					{% comment %}
						{% for error in form.wants_creatives.errors %}
		                    	<p class="errors">{{ error }}</p>
		                    {% endfor %}
						<div>
							{{ form.wants_creatives.label }} {{ form.wants_creatives|add_class:""}}
						</div>
					{% endcomment %}
					
					</br></br>
					<h3>Create account</h3>
					<p>You will be asked to verify your email address</p>
						
						{% for error in form.full_name.errors %}
                    		<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{% if request.GET.full_name %}
							<input class="text-button" id="id_full_name" maxlength="50" name="full_name" placeholder="First and last name" type="text" value="{{ request.GET.full_name }}">
						{% else %}
							{{ form.full_name|add_class:"text-button"}}
						{% endif %}

						
						{% for error in form.email.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{% if request.GET.email %}
							<input class="text-button" id="id_email" maxlength="100" name="email" placeholder="Your Email Address" type="text" value="{{ request.GET.email }}">
						{% else %}
							{{ form.email|add_class:"text-button"}}
						{% endif %}


	                    {% for error in form.password.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{{ form.password|add_class:"text-button"}}

						{% for error in form.promo.errors %}
	                    	<p class="errors">{{ error }}</p>
	                    {% endfor %}
						{{ form.promo|add_class:"text-button"}}
		

			<div class="row">

				</br>
				<a href="#" class="button small" onclick="$(this).closest('form').submit()">Continue</a>		

			</div>
				
		</form>

		<div class="clear"></div>

	</div>
</div>


{% endblock %}





