{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}

{% endblock %}


{% block body %}

<div class="content" style="padding: 20px 0 100px 0;">
	<div class="wrap" style="width: 97%">
		<div class="one_half" style="background: #ededed; width: 40%; margin: 0 0% 0 0;">
			<div id="slider_wrapper" style="padding: 15% 0px 0px 0">
				<div class="wrap" style="width:85%">
						<div id="slider">
							<div>
								<div class="slide">
									<div class="alignleft" style="padding: 0 15px 0 0px">
										<h2>We grow your brand,</br>you run your company</h2>
										
										{% comment %}
										<h1><i class="icon-facebook-sign" style="font-size: 72px;"></i>
											<i class="icon-twitter-sign" style="font-size: 72px;"></i>
											<i class="icon-instagram" style="font-size: 72px;"></i>
										</h1>
										{% endcomment %}
										</br>
										<p>No long-term contracts. No phone calls.</br>
										Fill our your company profile to receive your free social media audit.</p>
				
									</div>
									

									
								</div>

							</div>
							<div>
								<div class="slide">
									<div class="alignleft" style="padding: 0 15px 0 0px">
										<h2>Marketing and advertising</br> in one place</h2>
										{% comment %}
										<h1><i class="icon-facebook-sign" style="font-size: 72px;"></i>
											<i class="icon-twitter-sign" style="font-size: 72px;"></i>
											<i class="icon-instagram" style="font-size: 72px;"></i>
										</h1>
										{% endcomment %}
										</br>
										<p>Our team of social media experts makes the most out of your budget.</br>Our data-driven approach lets us find the optimal balance of engagement, and content curation and advertisement.</p>
									</div>
									
									
								</div>
							</div>
							<div>
								<div class="slide">
									<div class="alignleft" style="padding: 0 15px 0 0px">
										<h2>Adjust your budget on the fly</h2>
										{% comment %}
										<h1><i class="icon-facebook-sign" style="font-size: 72px;"></i>
											<i class="icon-twitter-sign" style="font-size: 72px;"></i>
											<i class="icon-instagram" style="font-size: 72px;"></i>
										</h1>
										{% endcomment %}
										</br>
										<p>Every week you can adjust your spend on each social media network.</br>Want more Instagram and less Facebook? It's as simple as checking a box in your dashboard.</p>
									</div>
										

									
								</div>
							</div>
						</div>
					</div>
				</div>
	

		</div>	
		<div class="one_half last" style="background: #ededed; width: 60%; margin: 0 0% 0 0;">
			<div class"wrap" style="padding: 5% 0 50px 0; text-align: center;">
				<img src={% static "blocks3.png" %} alt="The BoostBlocks." width="30%" />
				</br>
				</br>

			</br>
				{% if request.GET.ref %}
					<a class="button2" href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
				{% else %}
					<a class="button2" href="{% url 'signup' %}">Get Started</a>
				{% endif %}
			</div>
		</div>
	</div>


		<div class="wrap">

				<div class="clear"></div>
				<div class="space"></div>

			<div>
				<div class="heading"><span>Here's how it works</span></div>

				<div class="latest_posts">
					<div class="one_third">
						<div class="latest_post">
							<h3><i class="icon-group"></i> We get to know your business</h3>
							<p>Complete your company  
				        	{% if request.GET.ref %}
					    		<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">profile</a>
					    	{% else %}
					    		<a href="{% url 'signup' %}">profile</a>      
					    	{% endif %}.</p>
					    	<p>We'll then perform a full social media audit and identify where we can add the most value. We'll send you a custom social media strategy outlining our plan to reach your goals. This of course is all Free!</p>


						</div>
					</div>
					<div class="one_third">
						<div class="latest_post">
							<h3><i class="icon-signal"></i> Choose Campaign Scope and Scale</h3>

							<p>We'll provide recommendations but you choose where to spend your budget. Our services are packaged into blocks. Each block covers light content distribution, content curation and engagement, and ad placements. The more blocks you apply to a network, the bigger the impact.</p>
							{% comment %}
							<p>You select the social media networks you want to engage with and the amount of resources you want to apply to each. Our services are packaged into blocks. You can buy two Facebook blocks and one Instagram block, for instance.
							</p>
							{% endcomment %}
						</div>
					</div>

					<div class="one_third last">
						<div class="latest_post">
							<h3><i class="icon-bar-chart"></i> Review Stats and Adjust Accordingly</h3>
							<p>Every month we share statistics and a summarizing report to show how your blocks are achieving your goals. We make recommendations and you choose whether to add or remove blocks as you see fit.</p>
							{% comment %}
							<p>Every week we send you reports of our recent activity and your campaign performance. You choose whether to add or remove blocks as you see fit. Shift your allocation of resources between social media networks as you see fit.</p>
							{% endcomment %}
						</div>
					</div>
				</div>
			</div>

			

				<div class="clear"></div>
				<div class="space"></div>

		</div>

		<div class="wrap">

			<div class="clear"></div>
			<div class="space"></div>

			<div class="heading"><span>Why Choose <em>Us</em> ?</span></div>

			<div class="one_third">
				<div class="box_feature">
					<div class="box_feature_icon"><span class="icon-ok"></span></div>
					<div class="box_feature_text">
						<h6>Quick setup and no long-term contracts</h6>
						<p>Scale our service up or down to fit your changing budget. No inefficient introductory meetings or reviews.</p>
					</div>
				</div>
			</div>

			<div class="one_third">
				<div class="box_feature">
					<div class="box_feature_icon"><span class="icon-ok"></span></div>
					<div class="box_feature_text">
						<h6>We allocate your budget for max impact</h6>
						<p>We know when to shift resources between scheduling content, engaging with the community and launching brand awareness ad campaigns.</p>
						
					</div>
				</div>
			</div>

			<div class="one_third last">
				<div class="box_feature">
					<div class="box_feature_icon"><span class="icon-ok"></span></div>
					<div class="box_feature_text">
						<h6>Retain control of accounts</h6>
						<p>You will always have full control of your social media accounts and can contribute to them as much or as little as you like.</p>
					</div>
				</div>
			</div>

					<div class="clear"></div>
					<div class="space2"></div>


		</div>

		{% if request.GET.ref %}
			<a class="tab-button" href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
    	{% else %}
    		<a class="tab-button" href="{% url 'signup' %}">Get Started</a>
    	{% endif %}
</div>	

{% endblock %}
