{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}

{% endblock %}


{% block body %}


<div class="content" style="padding: 0px 0 100px 0;">


		{% comment %}
			<div class="wrap" style="background: #ededed; width: 100%">
		{% endcomment %}
		<div class="wrap" style="background: #91A8B6; width: 100%; padding: 5%% 0% 5% 0%;">
			
			<div class="clear"></div>
				
			<div>

				<div>
					<div class="one_half" style="width: 60%;">
						
						<div style="padding: 0% 5% 0% 15%;">
							<h1 style="color: white">The simplest way to grow your brand through social media</h1>
							<p style="color: #E7ECEF">No long-term contracts. No phone calls. Tell us about your company and we'll design a social media strategy tailored to your business.</br></br>	
							
							Each month you can select the BoostBlocks plan that fits your budget. Our team finds the right balance of promotion, content curation, and engagement to maximize growth of your brand.
							</p>
							
							</br></br>
							<div>
								{% if request.GET.ref %}
									<a class="button big" href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started Now</a>
								{% else %}
									<a class="button big" href="{% url 'signup' %}">Get Started Now</a>
								{% endif %}
							</div>
							</br></br>
							<p style="color: white; font-size: 20px">Try FREE for one week. No obligations.</p> 

						</div>

						
					</div>
					

					<div class="one_half last">
						<div style="padding: 0% 15% 0% 15%;">
							{% comment %}
							<img src={% static "blocks4.png" %} alt="The BoostBlocks." width="100%" />
							{% endcomment %}
						</div>
					</div>
				</div>
			</div>

			
				<div class="clear"></div>
				
		</div>

		<div class="wrap">

				<div class="clear"></div>
				<div class="space"></div>

			<div>
				<div class="heading"><span>Our Service</span></div>

				
					<div class="pricing_wrapper">
					
					<div class="one_third">
						<div class="pricing">
							<div class="pricing_top">
								<h4>Basic Block</h4>
								<p>$100/mo</p>
							</div>
							<ul>
								<li>One social network</li>
								<li>7+ posts per week</li>
								<li>Light engagement</li>
								<li>Content curation</li>
								<li>Monthly reports</li>
								
								<li class="pricing_order">	
									{% if request.GET.ref %}
										<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
									{% else %}
										<a href="{% url 'signup' %}">Get Started</a>
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
					<div class="one_third">
						<div class="pricing">
							<div class="pricing_ribbon">
									<p>Most</br>Popular</p>
								</div>
							<div class="pricing_top">		
								<h4>Cassic Block</h4>
								<p>$150/mo</p>
							</div>
							<ul>
								<li>Two social networks</li>
								<li>7+ posts per week per network</li>
								<li>Regular engagement</li>
								<li>Content curation</li>
								<li>Monthly reports</li>
								<li class="pricing_order">	
									{% if request.GET.ref %}
										<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
									{% else %}
										<a href="{% url 'signup' %}">Get Started</a>
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
					<div class="one_third last">
						<div class="pricing">
							<div class="pricing_top">		
								<h4>Pro Block</h4>
								<p>$200/mo</p>
							</div>
							<ul>
								<li>Four social networks</li>
								<li>7+ posts per week per network</li>
								<li>Regular engagement</li>
								<li>Content curation</li>
								<li>Monthly reports</li>
								<li class="pricing_order">	
									{% if request.GET.ref %}
										<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
									{% else %}
										<a href="{% url 'signup' %}">Get Started</a>
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
				
	
			</div>
			</div>

			

				<div class="clear"></div>
				

		</div>

		<div class="wrap">

				<div class="clear"></div>
				<div class="space"></div>

			<div>
				<div class="heading"><span>Here's how it works</span></div>

				<div class="latest_posts">
					<div class="one_third">
						<div class="latest_post">
							<h3><i class="icon-group"></i> We get to know your business</h3>
							<p>Complete your company  
				        	{% if request.GET.ref %}
					    		<a href="{% url 'signup' %}?ref={{ request.GET.ref }}">profile</a>
					    	{% else %}
					    		<a href="{% url 'signup' %}">profile</a>      
					    	{% endif %}.</p>
					    	<p>We'll then perform a full social media audit and identify where we can add the most value. We'll send you a custom social media strategy outlining our plan to reach your goals. This of course is all Free!</p>


						</div>
					</div>
					
					<div class="one_third">
						<div class="latest_post">
							<h3><i class="icon-signal"></i> Choose Campaign Scope and Scale</h3>

							<p>We'll provide recommendations but you choose where to spend your budget. Our services are packaged into blocks. Each block covers light content distribution, content curation and engagement. The more blocks you apply to a network, the bigger the impact.</p>
						</div>
					</div>

					<div class="one_third last">
						<div class="latest_post">
							<h3><i class="icon-bar-chart"></i> Review Stats and Adjust Accordingly</h3>
							<p>Every month we share statistics and a summarizing report to show how your blocks are achieving your goals. We make recommendations and you choose whether to add or remove blocks as you see fit.</p>
							{% comment %}
							<p>Every week we send you reports of our recent activity and your campaign performance. You choose whether to add or remove blocks as you see fit. Shift your allocation of resources between social media networks as you see fit.</p>
							{% endcomment %}
						</div>
					</div>
				</div>
			</div>

			

				<div class="clear"></div>
				

		</div>

		<div class="wrap">

			<div class="clear"></div>
			<div class="space"></div>

			<div class="heading"><span>Why Choose <em>Us</em> ?</span></div>

			<div class="one_third">
				<div class="box_feature">
					<div class="box_feature_icon"><span class="icon-ok"></span></div>
					<div class="box_feature_text">
						<h6>Quick setup and no long-term contracts</h6>
						<p>Scale our service up or down to fit your changing budget. No inefficient introductory meetings or reviews.</p>
					</div>
				</div>
			</div>

			<div class="one_third">
				<div class="box_feature">
					<div class="box_feature_icon"><span class="icon-ok"></span></div>
					<div class="box_feature_text">
						<h6>We allocate your budget for max impact</h6>
						<p>We know when to shift resources between scheduling content, engaging with the community and launching brand awareness ad campaigns.</p>
						
					</div>
				</div>
			</div>

			<div class="one_third last">
				<div class="box_feature">
					<div class="box_feature_icon"><span class="icon-ok"></span></div>
					<div class="box_feature_text">
						<h6>Retain control of accounts</h6>
						<p>You will always have full control of your social media accounts and can contribute to them as much or as little as you like.</p>
					</div>
				</div>
			</div>

					<div class="clear"></div>
					<div class="space2"></div>


		</div>

		{% if request.GET.ref %}
			<a class="tab-button" href="{% url 'signup' %}?ref={{ request.GET.ref }}">Get Started</a>
    	{% else %}
    		<a class="tab-button" href="{% url 'signup' %}">Get Started</a>
    	{% endif %}
</div>	

{% endblock %}
